<div class="building-show">
  <span class="building-info">
    <%= @building.name %>
    <br>
    <%= link_to @building.architect.name, @building.architect %>
    <br>
    <%= link_to @building.location.display, @building.location %>
  </span>


  <img src="<%=@building.imgurl%>" alt="<%=@building.name%>" title="<%=@building.name%>" class="show-img">
</div>

<div>
  <%= form_tag @building, method: "patch", class: "like-button" do %>
  <%= submit_tag "Like", class: "like-button" %>
  <% end %>
</div>
