<div class="building-show">
  <span class="building-info">
    <%= @building.name %>
    <br>
    <%= link_to @building.architect.name, @building.architect %>
    <br>
    <%= link_to @building.location.display, @building.location %>
  </span>


  <img src="<%=@building.imgurl%>" alt="<%=@building.name%>" title="<%=@building.name%>" class="show-img">

  <footer>
    <%= form_tag @building, method: "patch", class: "like-button" do %>
    <%= submit_tag "♥︎", class: "like-button" %>
    <% end %>
  </footer>
</div>
<div class="elements-list">
  <h3>Elements:</h3>
  <ul>
    <% @building.elements.each do |element| %>
    <li>
      <%= link_to element.name, element %>
    </li>
    <% end %>
  </ul>
</div>
